<% if @layout == :all %>
	<%= render(partial: 'note', collection: @notes, locals: {show_subject: true}) || content_tag(:div, t('note_not_found'), class: 'message-sm') %>
<% else %>
	<% @notes_by_subject.keys.each do |subject| %>
	<div class="subject-group">
		<span class="subject-group-header"><%= "#{subject.name}" %></span>
		<%= render(partial: 'note_line', collection: @notes_by_subject[subject], as: :note, locals: {show_subject: false}) || content_tag(:div, t('note_not_found'), class: 'message-sm') %>
	</div>
	<% end %>
<% end %>