<div id="notes-menu" class="col-md-3 col-xs-3">
	<div class="btn-group-vertical">
		<%= link_to '自分のノート', filter_notes_path(1), class: 'btn btn-lg btn-default' %>
		<%= link_to '授業のノート', filter_notes_path(2), class: 'btn btn-lg btn-default' %>
		<%= link_to '新着ノート', filter_notes_path(3), class: 'btn btn-lg btn-default' %>
	</div>
</div>
<div id="notes" class="col-md-9 col-xs-9">
		<%= render 'layouts/list_notes' %>
</div>