<div id="show-note">
	<h1>ノート</h1>
<p>
  <strong>タイトル:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>科目:</strong>
  <%= @note.subjects.first.name %>
</p>

    <%= link_to 'もどる', notes_path, class: 'btn btn-default col-md-2 col-md-offset-1' %>
</div>
