<%= form_for([@document, @document.comments.build], html: {id: 'new-comment-form', remote: true}) do |f| %>
  <div class="media">
    <a class="pull-left" href="#">
			<%= image_tag("avatar.png", class: 'media-object avatar')  %>
    </a>
    <div class="media-body">
	    <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= button_tag class: 'btn btn-green', id: 'comment-btn', type: 'submit' do %>
	    <span class="glyphicon glyphicon-comment"></span>コメントする
    <% end %>
  </div>
<% end %>