<div id="search-page">
	<div class="col-xs-12" id="result">
    <h4><%= t('subject_plural') %></h4>
		<div id="result-content">
				<%= render(partial: 'subjects/subject', collection: @subjects, locals: {show_course: @show_course}) || t('subject_not_found') %>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$("body").css("background-color", "#fff");
	});
</script>