<div class="faculty">
	<div class="faculty-wrapper">
		<div class="faculty-name">
			<%= faculty.name %>
		</div>
		<div class="faculty-content">
			<div class="faculty-course-list">
				<%= render faculty.courses %>
			</div>
		</div>
	</div>
</div>
