$('#user_educations_course_id').html("<%=j options_from_collection_for_select(@courses,"id","name") %>");
$('#user_educations_course_id').prepend("<option value=''></option>");
$('.selectpicker').selectpicker("refresh");