	<div id="list-subjects-period-header">
		<%= t('date.day_names')[day] %>&bull;<%= t('date.period_names')[time] %>
	</div>
	<div id="list-subjects-period">
		<% subjects.each do |subject| %>
			<%= link_to subject.name, subject %>
		<% end %>
	</div>
