			<% activities.each do |activity| %>
				<% case activity.trackable_type 
				when 'Note' %>
			    <%= render_activity activity, layout: 'layouts/activity_note' %>
		    <% when 'Subject' %>
			    <%= render_activity activity, layout: 'layouts/activity_subject' %>
		    <% when 'Comment' %>
			    <%= render_activity activity, layout: 'layouts/activity_comment' %>
		    <% end %>
			<% end %>
			
<% if activities.count == 0 %>
 <span class="notice-3"><%= t('.activity_not_found') %></span>
<% end %>
