<div id="home" class="row">
	
	<div class="col-xs-12 col-sm-9">
		<div id="activities">
			<%= render 'activity_list', activities: @activities || t('.activity_not_found') %>
		</div>
		<div class="hidden-pagination">
			<%= paginate @activities %>										
		</div>
	</div>
	
	<div class="hidden-xs col-sm-3">
		<div id="widgets">
			<%= render 'users/user_profile_card', user: @user %>
		</div>
	</div>
	
</div>