<div id="show-document" class="clear">
	<div id="document-content">
		<%= image_tag(@document.upload.url(:original)) %>
		<h4><%= @document.title %></h4>
	</div>
	<div id="document-comment-section">
		<%= render template: 'comments/index' %>
	</div><!-- end of comment section -->
</div><!-- end of show document -->
