<fieldset>
	<strong>時間:</strong>
	<%= f.select :time, options_for_select(@times.map { |t| [Period.time_names(t), t] }, selected: f.object.time ), {}, {class: 'selectpicker show-tick', data: {width: 'auto'}, title: ''} %>
	<strong>曜日:</strong>
	<%= f.select :day, options_for_select(@days.map { |d| [Period.day_names(d), d] }, selected: f.object.day), {}, {class: 'selectpicker show-tick', data: {width: 'auto'}, title: ''} %>
	<%= f.hidden_field :_destroy %>
	<%= link_to '#', class: 'remove_fields' do %>
	<span class="glyphicon glyphicon-remove"></span>
	<% end %>
</fieldset>	