<table class="table table-bordered subject-table">
	<tr class="hidden-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
		<th><%= Period.day_names(d) %></th>
		<% end %>
	</tr>
	<tr class="visible-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
		<th><%= Period.day_names_short(d) %></th>
		<% end %>
	</tr>
	<% 1.upto(Period::MAX_TIME).each do |t| %>
	<tr>
		<td class="period hidden-xs"><%= Period.time_names(t) %></td>
		<td class="period visible-xs"><%= Period.time_names_short(t) %></td>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
				<td class="cell">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="subject-table-add"><span class="glyphicon glyphicon-plus"></span></span>
					<span class="subject-table-remove"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="subject-table-ok"><span class="glyphicon glyphicon-ok"></span></span>
				</td>
		<% end %>
	</tr>
	<% end %>
</table>