<% if !defined?(custom_class) %>
<% custom_class = 'subject-tag-default' %>
<% end %>
	
<div class="subject-tag-item <%= custom_class %>" data-id="<%= subject.id %>">
	<%= link_to subject.name, subject %>
	<!-- 
	<%= link_to schedule_destroy_path(subject_id: subject.id), method: :delete, remote: true, class: 'subject-remove' do %>
		<span class="glyphicon glyphicon-remove"></span>
	<% end %>
	-->
</div>