<div id="subjects-menu" class="col-md-3 col-xs-3">
	<div class="btn-group-vertical">
	  <button type="button" class="btn btn-lg btn-primary">全学年</button>
	  <button type="button" class="btn btn-lg btn-default">1学期</button>
	  <button type="button" class="btn btn-lg btn-default">2学期</button>
	  <button type="button" class="btn btn-lg btn-default">3学期</button>
	  <button type="button" class="btn btn-lg btn-default">4学期</button>
	  <button type="button" class="btn btn-lg btn-default">5学期</button>
	  <button type="button" class="btn btn-lg btn-default">6学期</button>
	  <button type="button" class="btn btn-lg btn-default">7学期</button>
	  <button type="button" class="btn btn-lg btn-default">8学期</button>
	 	<button type="button" class="btn btn-lg btn-info">時間割表</button>
	</div>
</div>
<div id="subjects" class="col-md-9 col-xs-9">
<%= render 'layouts/list_subjects'%>
</div>