<div id="subjects-menu">
	<div class="btn-group-vertical">
		
	</div>
	<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
		<% (1..8).each do | i |%>
			<li>
			<%= link_to filter_subjects_path(semester: i) do %>
			<%= i %>学期
			<% end %>
			</li>
		<% end %>
		<li class="divider"></li>
  	<li><%= link_to '全学年', subjects_path %></li>
  </ul>
	</div>
</div>

<div id="subjects" class="col-md-12">
<%= render 'layouts/list_subjects'%>
</div>