<div id="subjects-menu" class="col-md-3 col-xs-3">
	<div class="btn-group-vertical">
		<%= link_to '全学年', subjects_path, class: 'btn btn-lg btn-primary' %>
		<% (1..8).each do | i |%>
			<%= link_to filter_subjects_path(semester: i), class: 'btn btn-lg btn-default' do %>
			<%= i %>学期
			<% end %>
		<% end %>
	 	<button type="button" class="btn btn-lg btn-info">時間割表</button>
	</div>
</div>
<div id="subjects" class="col-md-9 col-xs-9">
<%= render 'layouts/list_subjects'%>
</div>