<div class="teacher-hovercard-item">
	<div class="teacher-hovercard-img">
		<%= image_tag(teacher.display_profile_image) %>
	</div>
	<div class="teacher-hovercard-content">
		<div class="teacher-hovercard-name">
			<%= teacher.full_name %>
		</div>
		<div class="teacher-hovercard-info">
			<%= link_to teacher, class: 'has-tooltip', data: {placement: "bottom", toggle: "tooltip"}, title: t('profile') do %>
				<%= image_tag('user.png') %>
			<% end %>
		</div>
	</div>
</div>
