<div id="teachers-index">
	<div id="teachers-list">
		<%= render @teachers %>
	</div>
	
	<div id="teachers-menu">
		<%= link_to new_teacher_path, class: 'btn btn-orange' do %>  
			<span class="glyphicon glyphicon-plus-sign"></span><%= t('.add_new_teacher') %>
		<% end %>
	</div>
</div>
