/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require main.scss
 *= require bootstrap-select.css
 *= require bootstrap-tagsinput.css
 *= require wysihtml5
 *= require jquery.ui.all
 *= require bootstrap3-typeahead.css
 *= require jquery.fileupload-ui
 *= require bootstrap-editable
 *= require magnific-popup.css
 *= require owl.carousel.css
 *= require owl.theme.css
 *= require jquery.gritter.css
 *= require jquery.hovercard.css
 *= require override-bootstrap3.css
 *= require override-jquery-upload.css
 *= require_tree .
 * 
 */

/*Main page
 ===============================================================================================*/

#wrapper {
	position: relative;
	overflow: hidden;
}

#menu-height-offset {
	height: 51px;
	display: block;
}

/*
::selection {
	color: #fff;
	background: #333;
}

::-moz-selection {
	color: #fff;
	background: #333;
}*/

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto;
  padding-bottom: 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
	bottom: 0;
	position: absolute;
	width: 100%;
}

/*Navigation bar
 ===============================================================================================*/

#logo {
	width: 130px;
}

#nav-bar {
	border-radius: 0;
	background-color: #fff;
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 3;
	border: none;
	border-bottom: 1px solid #e7e7e7;
}

.search-bar .form-control {
	border: 2px solid #76d17f;
}

.search-bar .form-control:focus {
	border-color: #41b34d;
}

.search-bar .tt-dropdown-menu .tt-suggestion {
  padding: 0 2px 0 5px;
}

#navbar-search {
	padding: 6px 15px !important;
}

#navbar-menu {
	margin-right: 0 !important;
	margin-left: 15px;
}

#navbar-collapse-1 {
	float: left;
}

#navbar-collapse-2 {
	float: left;
}

#navbar-collapse-3 {
	float: right;
}

@media (max-width: 767px) {
	#logo {
		float: none !important;
		margin: auto auto;
		display: block;
  }
	#navbar-collapse-1 {
		float: none;
		padding: 0 !important;
	}
	#navbar-collapse-2 {
		float: none;
		width: 100% !important;
	}
}

@media (min-width: 768px) {
	#navbar-collapse-1 {
		padding: 0 !important;
	}
	#navbar-collapse-2 {
		padding: 0 !important;
		overflow: visible !important;
		max-width: 260px;
	}
}

#navbar-collapse-3 .dropdown-toggle {
	padding: 25px 10px 5px;
}

.nav-calendar {
	max-width: 25px;
	margin-right: 40px;
	margin-top: 15px;
}

.nav-avatar {
	height: 30px;
	margin-top: -20px;
}

.nav-mobile li {
	display: inline-block !important;
	padding: 0 !important;
	border-right: 1px solid #e7e7e7;
}

.nav-mobile li:last-child {
	border: none;
}

.nav-mobile {
	text-align: center;
}

.subject-typeahead-item {
	padding: 0;
}

.subject-typeahead-item img {
	height: 40px;
	width: 40px;
	float: left;
	padding: 4px;
}

.subject-typeahead-content {
	padding: 5px 2px 5px 5px;
	width: auto;
	height: 40px;
	overflow: hidden;
}

.subject-typeahead-name {
	color: #222;
	font-size: 11px;
	line-height: 16px;
	height: 16px;
	font-weight: 600;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.subject-typeahead-info {
	font-size: 9px;
	color: #999;
	line-height: 16px;
}

#user-info-dropdown img {
	width: 25px;
	margin-right: 5px;
}

/*Sign up page
 ===============================================================================================*/

#nav-bar-signup {
	border-radius: 0;
	background-color: #fff;
	margin-bottom: 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #e7e7e7;	
}

#signup-page {
	background: #fff;
}

#signup-page h2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}

#signup-form-wrapper {
	margin: 10px auto 40px;
	max-width: 300px;
	background: #f1f1f1;	
	padding: 20px;
}

#signup-btn {
	margin-top: 10px;
}

#login-btn {
	margin-right: 20px;
	margin-top: 10px;
}

/*Sign in page
 ===============================================================================================*/

.provider-logo{
	width: 40px;
	margin-top: 10px;
	border-radius: 4px;
	margin-right: 4px;
}

#signin-logo {
	width: 200px;
	display: block;
	margin: 0 auto;
}

#signin-page {
	background: #fff;
}

#signin-header {
	padding-top: 25px;
	text-align: center;
}

#signin-header a {
	display: inline-block;
}

#signin-header h4 {
	text-align: center;
}

#signin-form-wrapper {
	margin: 10px auto 40px;
	max-width: 400px;
}

.form-signin {
	max-width: 330px;
	margin: 0 auto;
	padding: 15px;
}
.form-signin label {
	font-weight: normal;
	margin-top: 10px;
}
.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.account-wall {
	margin: 20px 20px 0;
	background-color: #f7f7f7;
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	padding: 40px 0 20px;
}
.login-title {
	color: #555;
	font-size: 18px;
	font-weight: 400; 
	display:block;
}
.profile-img {
	width: 96px;
	height: 96px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto 10px;
}
.need-help {
	margin-top: 10px;
}
.new-account { 
	display: block;
	margin-top: 10px;
}

/*Home page
 ===============================================================================================*/

#home {
	max-width: 1200px;
	margin: 20px auto 0;
}

/*New note page
===============================================================================================*/

#note-form {
	max-width: 800px;
	margin: 0 auto;
}

.tag-menu {
	position: absolute;
	top: 5px;
	right: 5px;
}

.tag-form {
	position: relative;
	padding: 30px 19px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.tag-form-title {
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
}

#note-subjects-select .dropdown-menu {
	max-width: 100%;
}

/*Note page
===============================================================================================*/

#notes {
	background: #fff;
	overflow: hidden;
	padding: 0 15px 0 15px;
}

#notes-list {
	margin-top: 20px;
}

#pushmenu-trigger {
	margin-right: 15px;
}

.note-item {
	height: 82px;
	padding-top: 10px;
	margin: 0 0 20px;
	list-style: none;
	border: 1px solid transparent;
	border-bottom: 1px solid #eee;
}

.note-item img {
  display: inline-block;
  margin: 0;
	height: 20px;
}

.note-thumbnail {
	float: left;
	height: 100%;
	width: 20px;
	margin-right: 10px;
	margin-top: 3px;
	background-image: url('note.png'); /* use background to preload */
	background-size:20px 20px;
	background-repeat:no-repeat;
}

.note-details {
	float: left;
}

.note-title {
	text-align: left;
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis; 
}

.note-title a {
}

.note-tags {
	text-align: left;
	font-size: 11px;
}

.note-tags .label {
	margin-top: 2px;
	display: inline-block;
}

.note-info {
	float: right;
	font-size: 11px;
	color: #999999;
}

.note-time {
	top: 5px;
	right: 10px;
	position: absolute;
}

.note-view {
	bottom: 5px;
	right: 10px;
	position: absolute;
}

.filter-bar {
	position: relative;
	padding-top: 10px;
	border-bottom: 1px solid #ddd;
	height: 57px;
	background-color: #fff;
}

.filter-menu {
	float: right;
	margin-top: 16px;
}

.filter-menu li {
	float: right;
	padding-right: 20px;
}

.filter-menu a {
	border-bottom: 3px solid transparent;
}

.filter-menu a:hover, .filter-menu .active {
	border-color: #563d7c;
	font-weight: 700;
}

.filter-menu a {
	padding-bottom: 10px;
}

.filter-form {
	margin: 0;
	padding: 0;
	float: left;
}

#new-note-btn {
	float: right;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
@media (max-width: 767px) {
	#new-note-text {
		display: none;
	}
}

/*Show Note page
 *  ===============================================================================================*/

#show-note {
	margin-top: 20px;
}

#note-edit {
	margin-top: 20px;
}

#note-edit-btn {
	position: absolute;
	top: 80px;
	right: 20px;
	padding: 6px 10px;
	display: none;
}

.subject-card {
	width: 200px;
	height: 60px;
	display: inline-block;
	padding: 11px;
	border: 1px solid #aaa;
	border-radius: 4px;
	margin: 5px;
}

.subject-card-img {
	float: left;
}

.subject-card-content {
	padding-left: 5px;
	overflow: hidden;
}

.subject-card-name {
	color: #E67E22;
	font-size: 13px;
	line-height: 16px;
	height: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.subject-card-info {
	font-size: 11px;
	color: #888;
	margin-top: 5px;
}

.author {
	height: 35px;
	width: 300px;
	display: inline-block;
}

.author-img {
	float: left;
}

.author-content {
	padding-left: 5px;
	overflow: hidden;
}

.author-name {
	color: #E67E22;
	font-size: 13px;
}

.author-info {
	font-size: 11px;
	color: #888;
}

#note-tags-list {
	max-width: 800px;
	margin: 0 auto 20px;
	padding-left: 15px;
	padding-right: 15px;
}

#note-tags-list-header {
	margin-bottom: 5px;
}

#note-tags-list-header img {
	width: 45px;
}

#note-tags-list-header span {
	font-size: 18px;
}

/*User page
 *  ===============================================================================================*/

#profile {
	margin: 20px auto 0;
}

#form-edit-profile {
	max-width: 400px;
	margin: 0 auto;
}

.calendar {
	max-width: 40px;
}

#user-edit {
	margin: 20px auto 0;
}

.thumbnail-sm {
	width: 150px;
	height: 150px;
}

.thumbnail-preview-sm {
	max-width: 150px;
	max-height: 150px; 
}

.thumbnail-preview-sm img {
	max-height: 140px;
}

.user-hovercard-item {
	width: 100px;
	height: 140px;
	display: inline-block;
}

.user-hovercard-img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
}

.user-hovercard-img img {	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.user-hovercard-content {
	padding: 5px 10px;
	overflow: hidden;
	text-align: center;
}

.user-hovercard-name {
	font-weight: 700;
	font-size: 12px;
}

.user-hovercard-info {
	font-size: 11px;
	padding-top: 5px;
}

.user-hovercard-info img {
	height: 14px;
	width: 14px;
}

/*User login
 ===============================================================================================*/

#provider-wrapper {
	text-align: center;
}

/*Schedule
 ===============================================================================================*/

#filter-schedule {
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
	float: none;
}

#schedule {
	padding-top: 20px;
	background-color: #fff;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
}

#schedule-content-header {
	margin-bottom: 10px;
	text-align: center;
}

#schedule-content-header img {
	width: 40px;
	margin-right: 5px;
}

#schedule-content-header span {
	font-size: 18px;
	font-weight: 700;
}

#schedule-sub-list {
	margin-top: 10px;
	text-align: center;
}

#schedule-sub-list .active{
	background-color: #eee;
}

#form-schedule {
	max-width: 400px;
	margin: 0 auto;
}

#schedule-table-wrapper {
	padding-bottom: 20px;
}

#schedule-table {
	text-align: center;
	table-layout: fixed;
}

#schedule-table .plus, #schedule-table .open {
	display: none;
}

#schedule-table .cell.hover .count, #schedule-table .cell.hover .open {
	display: none;
}
#schedule-table .cell.hover .plus {
	display: block;
}
#schedule-table .cell.hover {
	background: #566B7F;
	color: #fff
}

#schedule-table .cell.active .count, #schedule-table .cell.active .plus {
	display: none;
}
#schedule-table .cell.active .open {
	display: block;
}
#schedule-table .cell.active {
	background: #34495E;
	color: #fff
}

.previous-btn:before {
	font-family: 'Glyphicons Halflings';
	content: "\e079";	
}

.next-btn:before {
	font-family: 'Glyphicons Halflings';
	content: "\e080";
}

#list-subjects-by-period {
	display: none;
	margin: auto;
	max-width: 300px;
	border: 1px solid #34495E;
}

#list-subjects-period-header {
	background: #34495E;
	color: #fff;
	padding: 8px;
	text-align: center;
}

#list-subjects-period {
	padding: 8px;
}

#list-subjects-period a {
	display: block;
}

.subject-schedule-item {
	width: 230px;
	height: 62px;
	display: inline-block;
	margin: 5px;
	border: 1px solid #ddd;
}

.subject-schedule-img {
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
	padding: 10px;
}

.subject-schedule-img img {	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.subject-schedule-content {
	padding: 10px 10px 0 0;
	overflow: hidden;
}

.subject-schedule-name {
	text-align: left;
	font-size: 15px;
	line-height: 16px;
	height: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 10px;
}

.subject-schedule-info {
	text-align: left;
	font-size: 10px;
	padding-right: 25px;
	color: #888;
	line-height: 16px;
	height: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* Subject page 
 ===============================================================================================*/

#subjects {
	max-width: 1000px;
	margin: 20px auto;
	padding: 0 20px;
}

#subjects-content {
	background: #fff;
	padding: 20px 20px 30px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#subject-menu-top {
	position: relative;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

#filter-subject {
	max-width: 300px;
}

#new-subject-btn {
	float: right;
}
@media (max-width: 767px) {
  #new-subject-text {
    display: none;
  } 
}

#courses-list {
	width: 150px;
	background-color: #fff;
	padding: 10px 5px;
	display: block;
	margin: 0 auto;
	border: 5px solid #e2e5e8;	
}

#courses-list li {
}

#courses-list a {
	padding: 10px 10px !important;
}

#courses-list > ul > li > a:hover {
	background-color: #999 !important;
	color: #fff;	
}

#courses-list > ul > li > a:focus, #courses-list ul li .active {
	background-color: #555 !important;
	color: #fff;
}

#subjects-list-container {
}

#subjects-list-header {
	padding: 10px;
	border-right: 1px solid #ddd;
	height: 55px;
}

@media(max-width: 767px) {
	#subjects-list-header {
		border-right: none;
		padding-left: 0;
		padding-right: 0;
	}
}

#subjects-list-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
	float: left;
	margin-top: 10px;
}

#subject-order-option {
	float: right;
	height: 35px;
}

#subjects-list {
	border-top: 1px solid #ddd;
}

#subject-view-menu {
	position: relative;
	margin: 20px;
	border: 1px solid #ddd;
}

@media (max-width: 469px) {
	.subject-item {
		width: 90% !important;
	}
	.subject-thumbnail {
		display: none !important;
	}
}

.subject-item {
	width: 340px;
	height: 200px;
	background-color: #ffffff;
	padding: 15px;
	padding-top: 30px;
	margin: 8px;
	border: 1px solid #eee;
	display: inline-block;
	position: relative;
}

.subject-item-sm {
	border-color: #ddd;
	width: 225px;
	height: 90px;
	padding-top: 20px;
}

.subject-item-sm .subject-name {
	width: 190px;
}

.subject-item-sm .subject-year {
	font-size: 10px !important;
	padding: 4px 8px !important;
}

.subject-item-sm .subject-course {
	font-size: 10px !important;
	padding: 4px 8px !important;
}

.subject-item-xs {
	min-width: 160px;
	height: 170px;
	background-color: #fff;
	padding: 15px;
	padding-top: 30px;
	margin: 8px;
	border: 1px solid #ddd;
	display: inline-block;
	position: relative;	
}

.subject-item-xs .subject-name {
	width: auto !important;
}

.subject-item-xs .subject-year {
	font-size: 10px !important;
	padding: 4px 8px !important;
}

.subject-item-xs .subject-course {
	font-size: 10px !important;
	padding: 4px 8px !important;
}

.subject-thumbnail {
	float: left;
	height: 100%;
	width: 20px;
	margin-right: 10px;
	margin-top: 3px;
	background-image: url('lecture.png'); /* use background to preload */
	background-size:20px 20px;
	background-repeat:no-repeat;
}

.subject-details {
	float: left;
	text-align: left;
}

.subject-desc {
	max-height: 60px;
}

.subject-name {
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 5px;
	word-wrap: break-word;
	text-overflow: ellipsis; 
	line-height: 20px;
	width: 220px;
	color: #34495E;
}

.subject-info {
	float: right;
	font-size: 11px;
	color: #999999;
}

.subject-teacher {
	max-width: 150px;
	bottom: 8px;
	right: 35px;
	position: absolute;
}

.subject-teacher-left {
	max-width: 100px;
	bottom: 8px;
	left: 15px;
	position: absolute;
}

.subject-notes-number {
	bottom: 8px;
	right: 10px;
	position: absolute;
}

.subject-notes-number img {
	width: 11px;
	height: 11px;
	margin-bottom: 3px;
}

.subject-badge {
	position: absolute;
	top: -4px;
	right: 10px;	
}

.subject-year {
  display: inline-block;
}

.subject-course {
  display: inline-block;
  margin-right: 10px;
}

.subject-add {
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 6px 10px;
	font-size: 12px;
	color: #555E6B;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	text-align: center;
}

#note-order-option {
	text-align: center;
	margin-top: 20px;
}

.hidden-pagination {
	display: none;
}

.subject-item-line {
	position: relative;
	height: 100px;
	width: 100%;
	display: block;
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid transparent;
	border-right: 1px solid #ddd;
}

.subject-item-line:hover {
	background-color: rgba(0,0,0,0.05);
	border-color: #ddd;
}

.subject-details-line {
	padding: 5px 15px;
	width: auto;
	height: 80px;
	overflow: hidden;
}

@media(max-width: 767px) {
	.subject-item-line {
		border-right: 1px solid transparent;
	}
	.subject-details-line {
		padding-left: 0;
	}
}

.subject-thumbnail-line {
	float: left;
	width: 120px;
	height: 80px;
	-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.45);
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.45);
	overflow: hidden;
}

.subject-thumbnail-line img {
}

.subject-desc-line {
	font-size: 12px;
	line-height: 18px;
	height: 36px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.subject-teacher-line {
	font-size: 12px;
	color: #999;
	line-height: 20px;
}

.subject-name-line {
	color: #222;
	font-size: 16px;
	line-height: 20px;
	height: 20px;
	font-weight: 600;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.subject-info-line {
	float: right;
	height: 80px;
	font-size: 12px;
}

.subject-year-line {
	text-align: center;
	margin-top: 30px;
	padding: 4px 10px 2px 15px;
	font-size: 11px;
	color: #797979;
	background-color: #EBEBEB;
	border-right: 3px solid #2980b9;
}

.subject-course-line {
	text-align: center;
	margin-top: 1px;
	padding: 4px 10px 2px 15px;
	font-size: 11px;
	color: #797979;
	background-color: #EBEBEB;
	border-right: 3px solid #5cb85c;
}

.subject-menu-line {
	float: right;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 12px;
}

.cancel-text {
	display: none;
}

.subject-menu-line-register {
	display: none !important;
}

.subject-menu-line-hover:hover .cancel-text {
	display: inline-block;
}
.subject-menu-line-hover:hover .registered-text {
	display: none;
}
.subject-item-line:hover .subject-menu-line-register {
	display: block !important;
}

#subject-filter-trigger {
	float: left;
}

#subject-menu-right {
	padding: 15px;
	background: #fff;
	max-width: 300px;
	position: relative;
}

@media(max-width: 767px) {
	#subject-menu-right {
		margin: 20px auto;
	}
}

#subject-menu-close {
	display: none;
	width: 100%;
	margin-top: 20px;	
}

.subject-menu-item-header {
	padding: 10px;
}

.subject-menu-item-header img {
	width: 25px;
	height: 25px;
	margin-right: 3px;
}

.subject-menu-item-header span {
	font-size: 16px;
	vertical-align: middle;
}

#subject-menu-course {
	margin-left: 30px;
}

#subject-menu-course ul {
	margin-left: 17px;
}

.faculty-item ul {
	display: none;
}

#subject-menu-semester {
	text-align: center;
	max-width: 250px;
	cursor: pointer; 
}

#subject-menu-semester td {
	vertical-align: middle;
}

#subject-menu-tag {
	margin-bottom: 15px;
}

#subject-menu-week {
	text-align: center;
}

#subject-menu-week #subject-day, #subject-menu-week #subject-time {
	display: inline-block;
}

.subject-hovercard {
	width: 340px;
	height: 120px;
	display: inline-block;
}

.subject-hovercard-img {
	width: 120px;
	height: 120px;
	overflow: hidden;
	float: left;
}

.subject-hovercard-img img {	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.subject-hovercard-content {
	padding: 8px;
	overflow: hidden;
}

.subject-hovercard-name {
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;
	height: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 10px;
}

.subject-hovercard-desc {
	font-size: 11px;
	line-height: 16px;
	height: 48px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.subject-hovercard-info {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* Subject show page
 ===============================================================================================*/

#show-subject {
	width: 75%;
	margin-right: 15px;
	margin-left: 15px;
	float: right;	
}

#show-subject-menu {
	width: 150px;
	margin-left: 10px;
}

@media(max-width: 767px) {
	#show-subject {
		width: auto;
		float: none;
	}	
}

.show-subject-menu-item {
	width: 120px;
	background-color: #fff;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.show-subject-menu-item > ul > li > a:hover, .show-subject-menu-item > ul > li > a:focus {
	background-color: #555 !important;
	color: #fff;
}

.show-subject-menu-item h4 {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.show-subject-menu-item .btn {
	width: 100%;
}

#year-list {
	margin: 10px auto 10px;
	max-width: 800px;
}

#year-list .year-item {
	float: right;
	margin-left: 10px;
}

#subject-edit {
	margin-top: 20px;
}

.fixed-menu {
	position: fixed;
}

.show-subject-header {
	margin-bottom: 5px;
}
.show-subject-header img {
	width: 45px;
}

.show-subject-header span {
	font-size: 18px;
}

/* Subject edit page
 ===============================================================================================*/

#subject-table {
	text-align: center;
	table-layout: fixed;
}

#subject-table .cell:hover {
	background-color: #5cb85c;
	color: #fff;
}

#subject-table .cell:active {
	cursor: pointer;
	background-color: #4ba74b;
	color: #fff;
}

#subject-table .cell.active:hover {
	background-color: #c0392b;
	color: #fff;
}

#subject-table .cell.active:active {
	cursor: pointer;
	background-color: #b0281a;
	color: #fff;
}

#subject-table .cell {
	cursor: pointer;
}

#subject-table .cell.active {
  background-color: #5cb85c;
  color: #fff;	
}

#subject-table .cell .subject-table-add, #subject-table .cell .subject-table-remove, #subject-table .cell .subject-table-ok {
	display: none;
}

#subject-table .cell:hover .subject-table-add {
	display: block;
}

#subject-table .cell.active .subject-table-add, #subject-table .cell.active .subject-table-remove {
	display: none;
}

#subject-table .cell.active .subject-table-ok {
	display: block;
}

#subject-table .cell.active:hover .subject-table-remove {
	display: block;
}

#subject-table .cell.active:hover .subject-table-ok {
	display: none;
}

#syllabus-table {
	margin-top: 10px;
}

/* Teacher page
 ===============================================================================================*/

#show-teacher {
	margin-top: 20px;
}

#show-teacher .subject-by-year {
	margin-bottom: 3px;
	display: inline-block;
}

/* Document page
 ===============================================================================================*/

#show-document {
  position: relative;
  background: #FFF;
  padding: 15px;
  width: auto;
  max-width: 800px;
  overflow: auto;
  margin: 20px auto;
}

#document-content {
	max-width: 440px;
	width: 100%;
	float: left;
	text-align: center;
}

#document-comment-section {
  width: 300px;
  float: right;
}

@media(max-width: 767px) {
	#document-content	{
		max-width: 100% !important;
		margin-bottom: 20px;
	}
	#document-comment-section {
		width: 100%;
	}
}

#comment-btn {
	font-size: 10px;
	padding: 4px 10px;
	float: right;
	margin-top: 5px;
}

#comment-btn span {
	margin-right: 5px;
}

.media:hover .media-menu {
	display: block;
}

.media-menu {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 10px;
}

@media(max-width: 767px) {
	.media-menu {
		display: block;
	}
}

.media-date {
	font-size: 10px;
	color: #999;
}

#comment-content {
	line-height: 1.7 !important;
}

.document-item {
	background: #fff;
	width: 150px;
	height: 150px;
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid transparent;
	position: relative;
}

.document-preview {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.document-preview img {
	min-width: 100%;
	min-height: 100%;
	max-width: none;
}

.document-info {
	display: none;
	position: absolute;
	padding: 5px;
	bottom: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	line-height: 18px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.document-item:hover {
	border-color: #666;
}

.document-item:hover .document-info {
	display: -webkit-box;
}

@media (max-width: 469px) {
	.document-info {
		display: -webkit-box;
	}	
}

/* Faculty page
 ===============================================================================================*/


/* Search page
 ***************************************************************************/

#search-menu {
	width: 120px;
	background-color: #fff;
	padding: 10px;
	display: block;
	margin: 20px auto 0;
	border: 5px solid #e2e5e8;
}

#search-menu li {
}

#search-menu a {
	padding: 10px 10px !important;
}

#search-menu > ul > li > a:hover {
	background-color: #999 !important;
	color: #fff;	
}

#search-menu > ul > li > a:focus, #search-menu ul li .active {
	background-color: #555 !important;
	color: #fff;
}

#result {
	margin-top: 20px;
	text-align: center;
}

#result h4 {
	font-size: 25px;
	font-weight: bold;
}

#search-page {
	background: #fff;
	overflow: hidden;
}

/* Education page
 ***************************************************************************/

#education-table td, #education-table th {
	text-align: center;
}

#education-edit {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 400px;
  max-height: 600px;
  overflow: visible;
  margin: 20px auto;
  border-radius: 3px;
}

#education-header {
	padding: 20px 32px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;
}

#education-content {
	line-height: 1.8em;
	font-size: 13px;
	padding: 20px 32px;
	background: #f6f9fc;
  border-radius: 3px;
}

/* Flash messages
 ***************************************************************************/

.error-msg {
	margin: .5em 0;
	display: block;
	color: #dd4b39;
	line-height: 17px;
}

.form-error {
  border: 1px solid #dd4b39 !important;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
 /* university
 ***************************************************************************/

.logo {
	width: 200px;
}

.logo-thumbnail {
	width: 60px;
	height: 60px;
}

#universities-list {
	margin-top: 20px;
	margin: 0 auto;
}

.uni-item {
	background: #fff;
	width: 300px;
	height: 120px;
	padding: 5px 5px;
	display: inline-block;
	margin-bottom: 10px;
	border: 2px solid transparent;
}

.uni-item:hover {
	border-color: #F39C12;
}

.uni-thumbnail {
	float: left;
	height: 100%;
	max-width: 106px;
}

.uni-thumbnail img {
	max-height: 100%;
}

.uni-desc {
	padding-left: 120px;
	height: 100%;
	position: relative;
}

.uni-name {
	font-size: 20px;
	padding-top: 15px;
}

.uni-meta {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 165px;
}

.uni-meta span {
	padding-left: 5px;
	font-size: 11px;
	color: #999;
}

.uni-meta hr {
	margin-bottom: 8px !important;
}

.uni-meta-thumbnail {
	width: 16px;
	width: 16px;
}

.uni-note {
	display: inline-table;
	width: 33%;
}

.uni-subject {
	display: inline-table;
	width: 30%;
}

.uni-user {
	display: inline-table;
	width: 33%;
}

#new-request {
	background: #fff;
	max-width: 300px;
	margin: auto;
	position: relative;
	border-radius: 3px;
}

#new-request-title {
	padding: 20px 32px;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

#new-request-form {
	line-height: 1.8em;
	font-size: 13px;
	padding: 20px 32px;
	background: #f6f9fc;
	border-radius: 3px;
}

 /* Footer
 ***************************************************************************/

#university-select {
	margin-right: 10px;
}

#i18n-select {
	margin-right: 10px;
}
