/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
//= require entypo

@charset "UTF-8";
/*Sign in page*/
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

/*Home page*/
#home {
	max-width: 1200px;
	margin: 0 auto;
}
/*Sign up page*/

/*New note page*/
#form-new-note {
	max-width: 600px;
	margin: 0 auto;
}

/*Note page*/
#notes {
	margin: 10px auto 0;
}

#notes li {
	background-color: #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #dedede;
	display: inline-block;
  margin-bottom: 20px;
}

ul {
	list-style: none;
}

#notes li img {
  display: block;
  margin: 0;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
	width: 200px;
}

#notes ul {
  position: absolute;
}

#container {
	position: relative;
}

.note-link {
	text-decoration: none;
	font-size: 30px;
}

.note-menu {
	margin-bottom: 10px;
}

#show-note {
	max-width: 600px;
	margin: 0 auto;
}


/*Profile*/
#profile {
	max-width: 1200px;
	margin: 0 auto;
}
#form-edit-profile {
	max-width: 400px;
	margin: 0 auto;
}

/*Schedule*/

#schedule th, #schedule td {
	margin: 0;
	text-align: center;
}

#schedule table {
	margin: 0 auto;
}

#schedule td {
	padding: 5px 10px;
}

#schedule th {
	background: #333;
  color: white;
  padding: 5px 10px;
}

.cell:hover {
	cursor: pointer;
	background-color: #666666;
	color: white;
}

.cell a:hover {
	color: white;
}

.period {
	background: #666;
	color: white;
  padding: 5px 10px;
}

#form-schedule {
	max-width: 400px;
	margin: 0 auto;
}
