.comment-form {
	margin-top: 15px;
}

.comment-form .media {
	margin-top: 0;
}

.comment-menu {
	float: right;
	margin-top: 5px;
}

.comment-btn {
	font-size: 10px;
	padding: 4px 10px;
}

.comment-btn span {
	margin-right: 5px;
}

#comments {
}

#comments-pagination {
	padding: 10px 5px;
}

.media:hover .media-menu {
	display: block;
}

.media-menu {
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 10px;
}

@media(max-width: 767px) {
	.media-menu {
		display: block;
	}
}

.media-date {
	font-size: 10px;
	color: #999;
}

/*to fit avatar size*/
#comment-content {
	line-height: 1.8 !important;
}