/*Common
===============================================================================================*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	background-color: #f1f1f1 !important;
 	font-family: 'lato', sans-serif, verdana, arial, helvetica !important; 
}
p, ol, ul, td {
 	font-family: 'lato', sans-serif, verdana, arial, helvetica !important; 
}

ul {
	list-style-type: none;
	padding: 0px;
}

textarea {
  resize: none
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #666;
}
a:hover {
  color: #000;
}

div.field, div.actions {
  margin-bottom: 10px;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #999 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #999 !important;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #999 !important;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #999 !important;
}

div.message {
	text-align: center;
	padding-top: 20px;
	font-size: 18px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.notice {
	font-size: 12px;
	color: #888;
	font-style: italic;
}

.no-padding {
	padding: 0 !important;
}

.has-margin {
	margin: 10px 0 10px;
}

.has-margin-lg {
	margin: 0 50px 20px;
}

.has-padding {
	padding: 0 10px 0;
}

img {
	max-width: 100%;
}

.inline {
  display: inline;
}

.hidden {
	display: none;
}

#loading {
	width: 30px;
	height: 30px;
	margin: 20px auto 0;
}

a:hover {
  outline: 0;
  text-decoration: none !important;
}

.badge-important {
	background-color: #b94a48 !important;
}

.badge-info {
	background-color: #3498DB !important;
}

.badge-sm {
	font-size: 8px;
}

.hr-narrow {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.outer-center {
  float: right;
  right: 50%;
  position: relative;
}

.inner-center {
  float: right;
  right: -50%;
  position: relative;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
	clear: both;
}

.italic {
	font-style: italic;
}

@media (max-width: 767px) {
	.skc-box-thumbnail {
		display: none;
	}
	.skc-box-thumbnail-visible {
		display: block;
	}
	.skc-box-desc, .skc-box-title {
		margin-left: 0px !important;
	}
	.skc-box h4 {
		text-align: center;
	}
	.skc-box {
		width: 100%;
	}
}

.skc-box {
	margin: 0 auto;
	padding: 0 15px 20px;
	max-width: 600px;
}

.skc-box:hover .skc-box-menu {
	display: block;
}

.skc-box-no-padding {
	padding: 0 0 20px !important;
}

.skc-box-lg {
	max-width: 800px !important;
}

.skc-box-sm {
	max-width: 400px !important;
}

.skc-box-sm .skc-box-desc {
	margin-left: 75px !important;
}

.skc-box-thumbnail {
	float: left;
}

.skc-box-content {
	background-color: #fff;
	padding: 28px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	position: relative;
}
.skc-box-content-no-padding {
	padding: 10px 10px;	
}
.skc-box-content:before,
.skc-box-content:after {
    content:"";
    display:table;
}
.skc-box-content:after {
    clear:both;
}

.skc-box-sm .skc-box-content {
	padding: 20px;
}

.skc-box-thumbnail img {
	height: 60px;
	width: 60px;
}

.skc-box-desc {
	position: relative;
	margin-left: 105px;
	font-size: 0.95em;
	line-height: 1.5;
}

.skc-box-desc-no-margin {
	margin-left: 0 !important;
}

.skc-box strong {
	margin-right: 5px;
}

.skc-box p {
	line-height: 1.5;
	word-wrap: break-word;
}

.skc-box-sm h4 {
	margin: 0 !important;
	font-size: 18px !important;
}

.skc-box h4 {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	margin: 5px 5px 10px 5px;
	padding: 5px 5px 15px 0px;
	word-wrap: break-word;
}

/*section title inside*/
.skc-box h5 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.skc-box-menu {
	display: none;
	position: absolute;
	top: 15px;
	right: 15px;
}
@media (max-width: 767px) {
	.skc-box-menu {
		display: block;
	}
}

.skc-box-menu a {
	margin-left: 5px;
}

.skc-box-title {
	margin-left: 105px;
}

.skc-box-title-no-margin {
	margin-left: 0 !important;
	text-align: center;
}

.btn-white {
	color: #555E6B;
	background-color: #fff;
	border-bottom: 2px solid #fff;	
}
.btn-white:hover {
	color: #555E6B;
	background-color: #fff;
	border-bottom-color: #aaa;	
}
.btn-white.active:hover {
	border-bottom-color: #fff;		
}

.btn-navi {
	color: #fff;
	background-color: #34495E;
	border-bottom: 2px solid #34495E;
}

.btn-navi:hover {
	background-color: #455A6F;
	color: #fff;
	border-bottom-color: #2C3E50;
}

.btn-pink {
	color: #fff;
	background-color: #e65d65;
	border-bottom: 2px solid #e65d65;
}

.btn-pink:hover {
	background-color: #f76e76;
	color: #fff;
	border-bottom-color: #d54c54;
}

.btn-red {
	color: #fff;
	background-color: #c0392b;
	border-bottom: 2px solid #c0392b;
}

.btn-red:hover {
	background-color: #d14a3c;
	color: #fff;
	border-bottom-color: #b0281a;
}

.btn-blue {
	color: #fff;
	background-color: #3498DB;
	border-bottom: 2px solid #3498DB;
}

.btn-blue:hover {
	background-color: #45A9EC;
	color: #fff;
	border-bottom-color: #2387ca;
}

.btn-orange {
	color: #fff;
	background-color: #E67E22;
	border-bottom: 2px solid #E67E22;
}

.btn-orange:hover {
	background-color: #F39C12;
	color: #fff;
	border-bottom-color: #d56d11;
}

.btn-green {
	color: #fff;
	background-color: #5cb85c;
	border-bottom: 2px solid #5CB85C;	
}

.btn-green:hover {
	color: #fff;
	background-color: #6dc96d;
	border-bottom-color: #4ba74b;	
}

.btn-request {
	color: #fff;
	background-color: #34495E;
	border-bottom: 2px solid #34495E;
	display: block;
	margin: 0 auto 10px;
	height: 100px;
}

.btn-request span {
	font-size: 40px;
}

.btn-request:hover {
	background-color: #455A6F;
	color: #fff;
	border-bottom-color: #2C3E50;
}

.btn-orange:focus, .btn-green:focus, .btn-request:focus, .btn-navi:focus, .btn-blue:focus, .btn-red:focus, .btn-pink:focus {
	color: #fff !important;
}

.label-navi {
	padding: 6px 15px;
	font-size: 12px;
	background-color: #34495E;
	color: #fff;
}

.label-orange {
	padding: 6px 15px;
	font-size: 12px;	
	color: #fff;
	background-color: #E67E22;
}

.label-green {
	padding: 6px 15px;
	font-size: 12px;	
	color: #fff;
	background-color: #27ae60;
}

.label-blue {
	padding: 6px 15px;
	font-size: 12px;	
	color: #fff;
	background-color: #2980b9;
}

.label-tag {
	background: #fff;
	color: #aaa;
	padding: 8px 20px;
	line-height: 20px;
	border: 1px solid #eee;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	margin: 3px 2px;
}

.label-tag.active {
	background: whitesmoke;
	color: #000;
	border-color: #dddddd;
}

.label-tag:focus {
	outline: none;
}

.label-inline {
	display: inline-block;
}

.label-sm {
	padding: 5px 10px;
	line-height: 1.5;
	font-size: 12px;
}

.label-xs {
	padding: 4px 10px;
	line-height: 15px;
	font-size: 10px;
}

.subject-icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
	background-image: url('lecture.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

/*google style checkbox */
input[type=checkbox] {
	-webkit-appearance: none;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
	background: #fff;
	border: 1px solid #c6c6c6;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	vertical-align: middle;
}
input[type=checkbox]:checked:after {
	content: url('checkmark.png');
	display: block;
	position: absolute;
	top: -6px;
	left: -5px;
}
input[type=checkbox]:focus {
  outline: none;
}


.avatar {
	width: 60px;
	height: 60px;
}

.avatar-xs {
	width: 35px;
	height: 35px;
}

.avatar-round {
	border-radius: 50%;
}

.tag-input {
	
}

.tag-indicator {
	color: #5cb85c;
	position: absolute;
	bottom: 25px;
	left: 5px;
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;	
}

@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}
