/*Common
===============================================================================================*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
 	font-family: 'lato', sans-serif, verdana, arial, helvetica !important; 
}
p, ol, ul, td {
 	font-family: 'lato', sans-serif, verdana, arial, helvetica !important; 
}

ul {
	list-style-type: none;
	padding: 0px;
}

.has-margin {
	margin: 10px 0 10px;
}

.has-padding {
	padding: 0 10px 0;
}

img {
	max-width: 100%;
}

.inline {
  display: inline;
}

.hidden {
	display: none;
}

a:hover {
  outline: 0;
  text-decoration: none !important;
}

.badge-important {
	background-color: #b94a48 !important;
}

.hr-narrow {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.outer-center {
  float: right;
  right: 50%;
  position: relative;
}

.inner-center {
  float: right;
  right: -50%;
  position: relative;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
	clear: both;
}

.italic {
	font-style: italic;
}

@media (max-width: 767px) {
	.skc-box-thumbnail {
		display: none;
	}
	.skc-box-thumbnail-visible {
		display: block;
	}
	.skc-box-desc, .skc-box-title {
		margin-left: 0px !important;
	}
	.skc-box h4 {
		text-align: center;
	}
	.skc-box {
		width: 100%;
	}
}

.skc-box {
	margin: 0 auto;
	padding: 0 15px 20px;
	max-width: 600px;
}

.skc-box:hover .skc-box-menu {
	display: block;
}

.skc-box-no-padding {
	padding: 0 0 20px !important;
}

.skc-box-lg {
	max-width: 800px !important;
}

.skc-box-sm {
	max-width: 400px !important;
}

.skc-box-sm .skc-box-desc {
	margin-left: 75px !important;
}

.skc-box-thumbnail {
	float: left;
}

.skc-box-content {
	background-color: #fff;
	padding: 28px;
	border: 1px solid #eee;
	position: relative;
}
.skc-box-content:before,
.skc-box-content:after {
    content:"";
    display:table;
}
.skc-box-content:after {
    clear:both;
}

.skc-box-sm .skc-box-content {
	padding: 20px;
}

.skc-box-thumbnail img {
	height: 60px;
	width: 60px;
}

.skc-box-desc {
	position: relative;
	margin-left: 105px;
	font-size: 0.95em;
	line-height: 1.5;
}

.skc-box-desc-no-margin {
	margin-left: 0 !important;
}

.skc-box strong {
	margin-right: 5px;
}

.skc-box p {
	line-height: 1.5;
	word-wrap: break-word;
}

.skc-box-sm h4 {
	margin: 0 !important;
	font-size: 18px !important;
}

.skc-box h4 {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	margin: 5px 5px 10px 5px;
	padding: 5px 5px 15px 0px;
	word-wrap: break-word;
}

/*section title inside*/
.skc-box h5 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.skc-box-menu {
	display: none;
	position: absolute;
	top: 15px;
	right: 15px;
}
@media (max-width: 767px) {
	.skc-box-menu {
		display: block;
	}
}

.skc-box-menu a {
	margin-left: 5px;
}

.skc-box-title {
	margin-left: 105px;
}

.skc-box-title-no-margin {
	margin-left: 0 !important;
	text-align: center;
}

.label-custom {
	background: #fff;
	color: #aaa !important;
	padding: 8px 20px;
	line-height: 20px;
	border: 1px solid #eee;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	margin: 3px 2px;
}

.btn-white {
	color: #555E6B;
	background-color: #fff;
	border-bottom: 2px solid #fff;	
}
.btn-white:hover {
	color: #555E6B;
	background-color: #fff;
	border-bottom-color: #aaa;	
}
.btn-white.active:hover {
	border-bottom-color: #fff;		
}

.btn-navi {
	color: #fff;
	background-color: #34495E;
	border-bottom: 2px solid #34495E;
}

.btn-navi:hover {
	background-color: #455A6F;
	color: #fff;
	border-bottom-color: #2C3E50;
}

.btn-blue {
	color: #fff;
	background-color: #3498DB;
	border-bottom: 2px solid #3498DB;
}

.btn-blue:hover {
	background-color: #45A9EC;
	color: #fff;
	border-bottom-color: #2387ca;
}

.btn-orange {
	color: #fff;
	background-color: #E67E22;
	border-bottom: 2px solid #E67E22;
}

.btn-orange:hover {
	background-color: #F39C12;
	color: #fff;
	border-bottom-color: #d56d11;
}

.label-year {
	padding: 6px 10px;
	font-size: 12px;
	background-color: #34495E;
	color: #fff;
	width: 58px;
	text-align: center;
}

.btn-trigger {
	color: #333333;
	background-color: white;
	display: none;
	cursor: pointer;
	border-right: 1px solid transparent; 
	border-bottom: 1px solid transparent; 
	border-color: #E7E7E7;
	padding: 6px 10px;
	font-size: 20px;
	width: 40px;
	height: 35px;
}
@media (max-width: 767px) {
	.btn-trigger {
		display: inline-block;
	}
}

.subject-icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
	background-image: url('lecture.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
}