/* Document page
 ===============================================================================================*/

#show-document {
  position: relative;
  background: #FFF;
  padding: 15px;
  width: auto;
  max-width: 800px;
  overflow: auto;
  margin: 20px auto;
}

#document-content {
	max-width: 435px;
	width: 100%;
	float: left;
	text-align: center;
	word-wrap: break-word;
	position: relative;
}

#document-comment-section {
  width: 300px;
  float: right;
}

@media(max-width: 767px) {
	#document-content	{
		max-width: 100% !important;
		margin-bottom: 20px;
	}
	#document-comment-section {
		width: 100%;
	}
}

.document-item {
	background: #fff;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px solid transparent;
	position: relative;
}

.document-preview {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.document-preview img {
	min-width: 100%;
	min-height: 100%;
}

.document-navigation-btn {
	position: absolute;
	font-size: 25px;
	width: 20%;
	min-width: 80px;
	height: 100%;
	background: rgba(255,255,255,0);
}

.document-navigation-btn span {
	top: 50%;
	position: absolute;
	display: none;	
}

.document-navigation-btn:hover {
	background: rgba(255,255,255,0.3);
}

.document-navigation-btn:hover span {
	display: block;
	color: #555;
}

#document-prev {
	left: 0;
	top: 0;
}

#document-prev span {
	left: 25px;
}

#document-next {
	right: 0;
	top: 0;
}

#document-next span {
	right: 25px;
}

.document-info {
	opacity: 0;
	position: absolute;
	padding: 5px;
	bottom: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	line-height: 18px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	display: -webkit-box;
	transition-duration: 0.3s;
}

.document-item:hover {
}

.document-item:hover .document-info {
	opacity: 1;
}

@media (max-width: 469px) {
	/* not remember why? */
	.document-info {
		display: -webkit-box;
	}
}

.text-exposed-show {
	display: none;
}

.document-item-sm {
	width: 75px;
	height: 75px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
}

.document-item-xs {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-right: 2px;
}