/* Document page
 ===============================================================================================*/

#show-document {
  position: relative;
  background: #FFF;
  padding: 15px;
  width: auto;
  max-width: 800px;
  overflow: auto;
  margin: 20px auto;
}

#document-content {
	max-width: 440px;
	width: 100%;
	float: left;
	text-align: center;
	word-wrap: break-word;
}

#document-comment-section {
  width: 300px;
  float: right;
}

@media(max-width: 767px) {
	#document-content	{
		max-width: 100% !important;
		margin-bottom: 20px;
	}
	#document-comment-section {
		width: 100%;
	}
}

#comment-btn {
	font-size: 10px;
	padding: 4px 10px;
	float: right;
	margin-top: 5px;
}

#comment-btn span {
	margin-right: 5px;
}

.media:hover .media-menu {
	display: block;
}

.media-menu {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 10px;
}

@media(max-width: 767px) {
	.media-menu {
		display: block;
	}
}

.media-date {
	font-size: 10px;
	color: #999;
}

#comment-content {
	line-height: 1.7 !important;
}

.document-item {
	background: #fff;
	width: 150px;
	height: 150px;
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid transparent;
	position: relative;
}

.document-preview {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.document-preview img {
	min-width: 100%;
	min-height: 100%;
	max-width: none;
}

.document-info {
	opacity: 0;
	position: absolute;
	padding: 5px;
	bottom: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	line-height: 18px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	display: -webkit-box;
	transition-duration: 0.3s;
}

.document-item:hover {
}

.document-item:hover .document-info {
	opacity: 1;
}

@media (max-width: 469px) {
	.document-info {
		display: -webkit-box;
	}
}
