/* Education page
 ***************************************************************************/

#education-table td, #education-table th {
	text-align: center;
}

#education-edit {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 400px;
  max-height: 600px;
  overflow: visible;
  margin: 20px auto;
  border-radius: 3px;
}

#education-header {
	padding: 20px 32px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;
}

#education-content {
	line-height: 1.8em;
	font-size: 13px;
	padding: 20px 32px;
	background: #f6f9fc;
  border-radius: 3px;
}

#education-show {
	position: relative;
  background: #FFF;
  padding: 15px 20px;
  width: auto;
  max-width: 600px;
  overflow: auto;
  margin: 20px auto;
}

#education-image {
	float: left;
  width: 60px;
  height: 60px;
}

#education-show-content {
	padding-left: 20px;
  width: auto;
  overflow: hidden;
}

.education-day {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  overflow: hidden;
}

.education-day-header {
	float: left;
  width: 30px;
  height: 30px;
  text-align: center;
}

.education-day-header span {
	background: #d64635;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 6px 5px;
  border-radius: 50%;
  display: inline-block;
}

.education-day-content {
	padding-left: 10px;
  width: auto;
  overflow: hidden;
}
