/*Schedule
 ===============================================================================================*/

#filter-schedule {
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
	float: none;
}

#schedule {
	padding-top: 20px;
	background-color: #fff;
}

#schedule-content-header {
	margin-bottom: 10px;
	text-align: center;
}

#schedule-content-header img {
	width: 40px;
	margin-right: 5px;
}

#schedule-content-header span {
	font-size: 18px;
	font-weight: 700;
}

#schedule-sub-list {
	margin-top: 10px;
	text-align: center;
}

#schedule-sub-list .active{
	background-color: #eee;
}

#form-schedule {
	max-width: 400px;
	margin: 0 auto;
}

#schedule-table-wrapper {
	padding-bottom: 20px;
}

#schedule-table {
	table-layout: fixed;
	font-size: 12px;
}

#schedule-table td {
	padding: 0;
	height: 40px;
}

#schedule-table th {
	cursor: pointer;
	font-size: 14px;
	border: none;
	text-align: center;
}

#schedule-table th.active {
	background: none;
}

#schedule-table th span {
	width: 26px;
	height: 26px;
	display: inline-block;
	border-radius: 50%;
	padding: 3px 6px;
	font-weight: normal;
	color: #aaa;
}

#schedule-table th.active span {
	background: #d64635;
	color: #fff;
}

#schedule-table .period {
	text-align: center;
	border: none;
	color: #aaa;
	line-height: 40px;
}

#schedule-table tr td {
	border: 1px solid #dddddd;
}

#schedule-table .plus {
	display: none;
}

#schedule-table .cell.hover .count {
	display: none;
}
#schedule-table .cell.hover .plus {
	display: inline-block;
}
#schedule-table .cell.hover {
	background: #46d4f4;
	color: #fff;
}

#schedule-table .details-count {
	height: 100%;
	text-align: center;
	line-height: 38px;
}

#schedule-table .count {
	padding: 3px 8px;
	background: #24b2f2;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}

#schedule-table .count:hover {
	background: #46d4f4;
}

#schedule-table .details {
	padding: 5px;
}

.previous-btn:before {
	font-family: 'Glyphicons Halflings';
	content: "\e079";	
}

.next-btn:before {
	font-family: 'Glyphicons Halflings';
	content: "\e080";
}

.subject-schedule-item {
	background: #fff;
	width: 230px;
	height: 62px;
	display: inline-block;
	margin: 5px;
	border: 1px solid #ddd;
}

.subject-schedule-img {
	float: left;
	width: 40px;
	height: 40px;
	overflow: hidden;
	margin: 10px;
}

.subject-schedule-img img {	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.subject-schedule-content {
	padding: 10px 10px 0 0;
	overflow: hidden;
}

.subject-schedule-name {
	text-align: left;
	font-size: 15px;
	line-height: 16px;
	height: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 10px;
}

.subject-schedule-info {
	text-align: left;
	font-size: 10px;
	padding-right: 25px;
	color: #888;
	line-height: 16px;
	height: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.subject-add {
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 6px 10px;
	font-size: 12px;
	color: #555E6B;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	text-align: center;
}

.subject-draggable {
	position: relative;
}
