/* Teacher index page
 ===============================================================================================*/

#teachers-index {
	margin: 15px;
}

#teachers-list {
  margin: 0 auto;
}

#teachers-menu {
	text-align: center;
}

/* Teacher show page
 ===============================================================================================*/

#show-teacher {
	margin-top: 20px;
}

#show-teacher .subject-by-year {
	margin-bottom: 3px;
	display: inline-block;
}

/* Teacher edit page
 ===============================================================================================*/

#teacher-edit {
  margin: 20px auto 0;
}

/* Teacher items
 ===============================================================================================*/

.teacher {
	background: #fff;
  width: 180px;
  height: 50px;
  padding: 6px 8px;
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

.teacher-img {
	display: inline-block;
	float: left;
}

.teacher-content {
	padding-left: 10px;
	overflow: hidden;
}

.teacher-name {
	color: #E67E22;
	font-size: 13px;
}

.teacher-info {
	font-size: 11px;
	color: #888;
}

.teacher-hovercard {
	width: 340px;
	height: 120px;
}

.teacher-hovercard-item {
  padding: 10px 15px;
}

.teacher-hovercard-img {
	float: left;
  height: 100%;
}

.teacher-hovercard-img img {	
	width: 45px;
	height: 45px;
}

.teacher-hovercard-content {
	padding-left: 15px;
	overflow: hidden;
}

.teacher-hovercard-name {
	font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
}

.teacher-hovercard-info {
	margin-bottom: 5px;
}

.teacher-hovercard-desc {
	color: #999;
	font-size: 11px;
	line-height: 16px;
	height: 32px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 5px;
}

.teacher-hovercard-subjects {
  height: 20px;
  overflow: hidden;
}