/* university
 ***************************************************************************/

.logo {
	width: 200px;
}

.logo-thumbnail {
	width: 60px;
	height: 60px;
}

#universities-list {
	margin-top: 20px;
	margin: 0 auto;
}

.uni-item {
	background: #fff;
	width: 300px;
	height: 120px;
	padding: 5px 5px;
	display: inline-block;
	margin-bottom: 10px;
	border: 2px solid #ddd;
}

.uni-item:hover {
	border-color: #F39C12;
}

.uni-thumbnail {
	float: left;
	height: 100%;
	max-width: 106px;
}

.uni-thumbnail img {
	max-height: 100%;
}

.uni-desc {
	padding-left: 120px;
	height: 100%;
	position: relative;
}

.uni-name {
	font-size: 20px;
	padding-top: 7px;
}

.uni-meta {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 165px;
}

.uni-meta span {
	padding-left: 5px;
	font-size: 11px;
	color: #999;
}

.uni-meta hr {
	margin-bottom: 8px !important;
}

.uni-meta-thumbnail {
	width: 16px;
	width: 16px;
}

.uni-note {
	display: inline-table;
	width: 33%;
}

.uni-subject {
	display: inline-table;
	width: 30%;
}

.uni-user {
	display: inline-table;
	width: 33%;
}

#new-request {
	background: #fff;
	max-width: 300px;
	margin: auto;
	position: relative;
	border-radius: 3px;
}

#new-request-title {
	padding: 20px 32px;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

#new-request-form {
	line-height: 1.8em;
	font-size: 13px;
	padding: 20px 32px;
	background: #f6f9fc;
	border-radius: 3px;
}