
/*Sign up page
 ===============================================================================================*/

#nav-bar-signup {
	border-radius: 0;
	background-color: #fff;
	margin-bottom: 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #e7e7e7;	
}

#signup-page {
	background: #fff;
}

#signup-page h2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}

#signup-form-wrapper {
	margin: 10px auto 40px;
	max-width: 300px;
	background: #f1f1f1;	
	padding: 20px;
}

#signup-btn {
	margin-top: 10px;
}

#login-btn {
	margin-right: 20px;
	margin-top: 10px;
}

/*Sign in page
 ===============================================================================================*/

#provider-wrapper {
	text-align: center;
}

.provider-logo{
	width: 40px;
	margin-top: 10px;
	border-radius: 4px;
	margin-right: 4px;
}

#signin-logo {
	width: 200px;
	display: block;
	margin: 0 auto;
}

#signin-page {
	background: #fff;
}

#signin-header {
	padding-top: 25px;
	text-align: center;
}

#signin-header a {
	display: inline-block;
}

#signin-header h4 {
	text-align: center;
}

#signin-form-wrapper {
	margin: 10px auto 40px;
	max-width: 400px;
}

.form-signin {
	max-width: 330px;
	margin: 0 auto;
	padding: 15px;
}
.form-signin label {
	font-weight: normal;
	margin-top: 10px;
}
.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.account-wall {
	margin: 20px 20px 0;
	background-color: #f7f7f7;
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	padding: 40px 0 20px;
}
.login-title {
	color: #555;
	font-size: 18px;
	font-weight: 400; 
	display:block;
}
.profile-img {
	width: 96px;
	height: 96px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto 10px;
}
.need-help {
	margin-top: 10px;
}
.new-account { 
	display: block;
	margin-top: 10px;
}


/*User page
 *  ===============================================================================================*/

#profile {
	margin: 20px auto 0;
}

#form-edit-profile {
	max-width: 400px;
	margin: 0 auto;
}

.calendar {
	max-width: 40px;
}

#user-edit {
	margin: 20px auto 0;
}

.thumbnail-sm {
	width: 150px;
	height: 150px;
}

.thumbnail-preview-sm {
	max-width: 150px;
	max-height: 150px; 
}

.thumbnail-preview-sm img {
	max-height: 140px;
}

.user-hovercard-item {
	width: 100px;
	height: 140px;
	display: inline-block;
}

.user-hovercard-img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
}

.user-hovercard-img img {	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.user-hovercard-content {
	padding: 5px 10px;
	overflow: hidden;
	text-align: center;
}

.user-hovercard-name {
	font-weight: 700;
	font-size: 12px;
}

.user-hovercard-info {
	font-size: 11px;
	padding-top: 5px;
}

.user-hovercard-info img {
	height: 14px;
	width: 14px;
}

/*User item
 *  ===============================================================================================*/

.author {
}

.author-img {
	display: inline-block;
	float: left;
}

.author-content {
	padding-left: 10px;
	overflow: hidden;
}

.author-name {
	color: #E67E22;
	font-size: 13px;
}

.author-info {
	font-size: 11px;
	color: #888;
}

.user-activity {
	font-size: 11px;
}

.user-activity-img {
	float: left;
}

.user-activity-name {
	padding-left: 5px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
	border-right: 1px solid #ddd;
}

.user-activity-name a {
}

.user-activity-info {
	vertical-align: middle;
	padding-left: 2px;
	color: #888;
	display: inline-block;
}

.user-card {
	font-size: 13px;
	line-height: 1.5;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	margin-bottom: 10px;
	width: 200px;	
}

.user-card-inner {
	background: #fff;
}

.user-card-header {
	background-color: #2e9fff;
	width: 100%;
	height: 64px;
	overflow: hidden;
}

.avatar-circle-bg-wrapper {
	position: relative;
	height: 200px;
	width: 100%;
	text-align: center;
	top: -52px;
}

.avatar-circle-bg {
	border: 1px solid #58b5ff;
	border-radius: 50%;
	position: relative;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 5px;
}

.avatar-circle-bg .avatar-circle-bg {
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	margin: 15px;
}

.user-card-avatar-wrapper {
	position: absolute;
	margin-top: -48px;
	width: 100%;
	text-align: center;
}

.user-card-name {
	margin-top: 5px;
}

.user-card-body {
	font-size: 12px;
	color: #7f919e;
	margin-top: 42px;
	padding-bottom: 5px;
	text-align: center;
	line-height: 1.2em;
}

.user-card-info {
	font-size: 12px;
	color: #7f919e;
	padding-bottom: 10px;
	text-align: center;
	line-height: 1.2em;
}

.user-card-info .align-item {
	-webkit-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}

.align {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.align-column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.user-card-avatar {
	margin: 0 auto;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
