<div id="university-show">
	<div id="university-header">
		<div id="university-picture">
			<%= image_tag(@university.display_picture)%>
		</div>
		<div id="university-logo">
			<%= image_tag(@university.display_logo_thumbnail) %>
		</div>
		<div id="university-name">
			<%= @university.display_name %>
		</div>
	</div>
	<div id="university-content">
		<div id="university-info">
		</div>
		<div id="university-faculty-list">
		</div>
		<div id="university-teacher-list">
		</div>
	</div>

</div>
