<div class="activity" data-id="<%= activity.id %>">
	<div class="activity-inner clear">
		<div class="activity-content clear">
			<div class="activity-thumbnail">
				<%= image_tag('lecture_color.png') %>
			</div>
			<div class="activity-details">
				<%= yield %>
			</div>
		</div>
	</div>
</div>
