<div id="footer">
 
	<div class = "container">
	        <p class = "navbar-text pull-left">Copyright © シケ長</p>
	        <a href = "#" class = "navbar-btn btn-danger btn pull-right">Contact Us</a>
	</div>
 
</div>

