<div id="footer">
 
	<div class = "container">
	        <p class="navbar-text pull-left">Copyright © シケ帳</p>
	        <a href="#" class="navbar-btn btn-default btn btn-sm pull-right">
	        	<span class="glyphicon glyphicon-question-sign"></span>
	        	ヘルプ
        	</a>
        	<% if !@disable_uni_select && !user_signed_in? %>
					<div class="btn-group pull-right dropup" id="university-select">
					  <button type="button" class="btn navbar-btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					    <span class="glyphicon glyphicon-home"></span>
					    学校
					    <% if current_university != nil %>
					    :<strong><%= current_university.name %></strong>
					    <% end %>
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					  	<% University.all.each do |university| %>
					    <li class="<%= 'active' if current_university != nil && current_university.name == university.name %>">
					    	<%= link_to university.name, root_url(subdomain: university.codename) %>
				    	</li>
					  	<% end %>
					  </ul>
					</div>
					<% end %>
					<div class="btn-group pull-right dropup" id="i18n-select">
					  <button type="button" class="btn navbar-btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					    <span class="glyphicon glyphicon-globe"></span>
					    言語:<strong>日本語</strong>
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li class="active"><a href="#">日本語</a></li>
					    <li><a href="#">English</a></li>
					  </ul>
					</div>
	</div>
 
</div>

