<ul>
<% @notes.each do |note| %>
	<li class="note-item col-xs-12 col-sm-11 col-sm-offset-1 col-md-5 col-md-offset-1">
      <div class="note-thumbnail">
      </div>
      <div class="note-details">
	      <div class="note-title"><%= link_to "#{note.title}", note %></div>
	      <div class="note-tags">
		      <% if @show_subject %>
			      <span class="label label-info"><%= note.subjects.first.name %></span>
		      <% end %>
		      <% if note.tag_list.include?('試験対策') %>
		      	<span class="label label-warning">試験対策</span>
		      <% end %>
		      <% if note.tag_list.include?('過去問題') %>
		      	<span class="label label-success">過去問題</span>
		      <% end %>
		      <% if note.unread?(@user) %>
		      	<span class="label label-danger">New</span>
		      <% end %>
	      </div>
      </div>
      <div class="note-info">
      	<div class="note-time">
      		<%= time_ago_in_words(note.created_at) %> ago
    		</div>

      	<div class="note-view">
    		<span class="glyphicon glyphicon-eye-open"></span>20
  			</div>
    	</div>
 	</li>
<% end %>
</ul>
<script>
	$(document).ready(function() {
		/*For note dynamic max width*/
	  setMaxWidth();
	  $( window ).on( "resize", setMaxWidth ); //Remove this if it's not needed. It will react when window changes size.
	
	  function setMaxWidth() {
	  	$(".note-title").css("maxWidth", ( $('.note-item').width() - $('.note-thumbnail').outerWidth(true) - 1 ) + "px" ); //outerWidth(true): include margin
	  	$(".note-tags").css("maxWidth", ( $('.note-item').width() - $('.note-thumbnail').outerWidth(true) - 1 ) + "px" );
	  }
	});
</script>
