<ul>
<% @subjects.each do |subject| %>
	<%= link_to subject do %>
	<li class="subject-item"> 
      <div class="subject-caption text-center">
        <h4><%= subject.name %></h4>
      </div>
      
      <div class="subject-details">
	      		<%= subject.teachers.first.last_name_kanji %>
	      		<%= subject.teachers.first.first_name_kanji %>
			</div>
 	</li>
 	<% end %>
<% end %>
</ul>